	.table-responsive{
	  width: 100% !important;
	}
	
	table {
		margin-top: 20px;
		margin-bottom: 20px !important;
	}

	.formPedido {  
     width: 100%;  
   }  
   
	
	body {
        margin: 0px
    }
	
	form {
	  margin: 0 auto;
	  max-width: 850px;
	  padding: 20px 10px;
	  background-color:rgba(192,192,192,0.3);
	}
