   .formPedido {  
		width: 100%;
   }  
   .formPedido input {  
     width: 30%;  
     margin-left: 10px;  
     margin-right: 10px;  
   }  
   .formPedido select{
     width: 30%; 
     max-width: 50%;
     min-width: 50%;
     margin-left: 10px;  
     margin-right: 10px;  
   } 
    a.tamanho
    {
        font-size: 3;
    }
  .formPedido button{  
     width: 30%;  
     margin-left: 10px;  
     margin-right: 10px;
     border-color:#fff;
     float: right;
   }  
   .formPedido textarea {  
     width: 90%;  
     margin-left: 10px;  
     margin-right: 10px;  
   }  
   .botaoContato {  
     margin-left: 10px;  
     margin-right: 10px;  
     margin-top: 1px;  
   }  
   /*Deixa centralizaado o formul치rio*/
   .pgContato  {
	  padding: 100px 0;
	  background: #28549D;
	  /*width: 1000%;*/
	}
	
	.divFormulario {
	  display: flex;
	  overflow:auto;
	  border: 3px solid;
      border-width: 4px 0 4px 0;
	  border-color:#ffffff;
	}
	
	body {
      margin: 0px;
      align-items: center;
    }
	
	form {
	  margin: 10%; /*Para aumentar o tamanho do formul치rio*/
	  /*max-width: 1000px;*/
	  padding: 20px 10px;
	}

	/*Coloca cor embaixo do Navbar*/
    .container {
      margin: auto;
      width: 80%;
      padding: 100px;
        
        /*width: 100%;
        background: #ffff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
		/*overflow: scroll;*/
		/*z-index: -1;
		position: absolute;*/
		
    }
		/*Coloca cor embaixo do Navbar*/
    .containerTable {
      margin: auto;
      width: 100%;
      padding: 100px;
        /*width: 100%;
        background: #ffff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
		/*overflow: scroll;*/
		/*z-index: -1;
		position: absolute;*/
		
    }
	/*Caixa branca do f칩mul치rio*/
    .box {/*AJUSTE AQUI PARA RESPONSIVIDADE*/
		width: 100%;
        background: #28549D;
		overflow:auto;
		display: inline-block;
        justify-content: center;
        align-items: center;
            
    }
    .boxtable {/*AJUSTE AQUI PARA RESPONSIVIDADE*/
            width: 100%;
            background: #FFFFFF;
            overflow:auto;
            display: inline-block;
            justify-content: center;
            align-items: center;

    }

    table.itensPedido th {  
    color: #FFFFFF; 
    } 

	label {
		padding: 12px 12px 12px 0;
		display: inline-block;
	}
	
	
	
   .pgContato input {  
     padding-left: 20px;  
     color: #292929;  
     font-size: 18px;  
     background-color: #E9E9E9;  
     border: 1px solid #E9E9E9;  
     -moz-border-radius: 5px;  
     -webkit-border-radius: 5px;  
     border-radius: 5px;  
     height: 40px;  
     margin-bottom: 5px;  
     margin-top: 5px; 
     border-bottom: 1px solid #ccc;  
     border-left: 1px solid #ccc;
     border-color:#28549D;
   }  
   
   .pgContato textarea {  
     padding-left: 20px;  
     color: #292929;  
     font-size: 18px;  
     background-color: #E9E9E9;  
     border: 1px solid #E9E9E9;  
     -moz-border-radius: 5px;  
     -webkit-border-radius: 5px;  
     border-radius: 5px;  
     height: 100px;  
     margin-bottom: 5px;  
     margin-top: 5px; 
     border-bottom: 1px solid #ccc;  
     border-left: 1px solid #ccc;
     border-color:#28549D;
	}
	 
	.pgContato select {  
     padding-left: 20px;  
     color: #292929;  
     font-size: 18px;  
     background-color: #E9E9E9;  
     border: 1px solid #E9E9E9;  
     -moz-border-radius: 5px;  
     -webkit-border-radius: 5px;  
     border-radius: 5px;  
     height: 40px;    
     border-bottom: 1px solid #ccc;  
     border-left: 1px solid #ccc; 
     border-color:#28549D;
   } 
   
   .botaoContato {  
     border-radius: 4px;  
     color: #fff;  
     padding: 2px 40px;  
     height: 40px;  
     margin-top: 18px;  
     opacity: 0.9;  
     margin-bottom: 20px;  
     cursor: pointer;  
     background: #B22222;  
     display: inline-block;  
     border: none;  
     border-bottom: 1px solid #500707;  
     border-right: 1px solid #500707;  
   }  
   
   .botaoContato:hover {  
     opacity: 1.0;  
     transition: 1s;  
   }  
   
   #div_pedidos
	{
		border: solid;
        border-color: #fff;
        border-width: 0.1px;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        margin-bottom: 30px; 
        background-color: #fff; 
        max-width: 100%;
        border-radius: 5px; 
	}
	
	.div_botao
    {
        margin-top: 50px; 
    }

	.BotaoSubmit
	{
	 border-radius: 4px;  
     color: #fff;  
     padding: 2px 40px;  
     height: 40px;  
     margin-top: 18px;  
     opacity: 0.9;  
     margin-bottom: 20px;  
     cursor: pointer;  
     background: #B22222;  
     display: inline-block;  
     border: none;  
     border-bottom: 1px solid #500707;  
     border-right: 1px solid #500707; 
	}

    /*Para o campo de auto complete da pesquisa*/
      .custom-combobox {
        position: relative;
        display: inline-block;
      }
      .custom-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
      }
      .custom-combobox-input {
        margin: 0;
        padding: 5px 10px;
      }
