		body {
		  font-family: Arial, Helvetica, sans-serif;
		  scrollbar-arrow-color:#000000;
		}

		.topnav {
		  overflow: hidden;
		  background-color:#28549D;
		  position: fixed;
		  width: 100%;
		  /*padding-top: 15px;*/
		}

		.topnav a {
		  float: left;
		  display: block;
		  color: #f2f2f2; <!--Letras-->
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		  font-size: 20px;
		}

		.topnav a:hover {
		  background-color: #ddd;
		  color: black;
		}

		.active {
		  background-color: #1D3C70;
		  color: black;
		}

		.topnav .icon {
		  display: none;
		}

		@media screen and (max-width: 600px) {
		  .topnav a:not(:first-child) {display: none;}
		  .topnav a.icon {
			float: right;
			display: block;
		  }
		}

		@media screen and (max-width: 600px) {
		  .topnav.responsive {position: relative;}
		  .topnav.responsive .icon {
			position: absolute;
			right: 0;
			top: 0;
		  }
		  .topnav.responsive a {
			float: none;
			display: block;
			text-align: left;
		  }
		}
		table {
			border-collapse: collapse;
			border-spacing: 0;
			width: 110%;
			margin: auto;
		}

		th, td {
			text-align: left;
			padding: 15px;
		}

		tr:nth-child(even){
		text-color: #fff;
		}
		